<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <%- include('../topbar') -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            </div>
            <!-- Content Row 1-->
            <div class="row">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" id="test">
                        <h6 class="m-0 font-weight-bold text-primary">List of Prosumers</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Net Production</th>
                                    <th>Selling to Market</th>
                                    <th>Buying from Market</th>
                                    <th>Buffer</th>
                                    <th>Black out</th>
                                    <th>Block from selling</th>
                                    <th>Online/Offline</th>
                                    <th>Delete Prosumer</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Net Production</th>
                                    <th>Selling to Market</th>
                                    <th>Buying from Market</th>
                                    <th>Buffer</th>
                                    <th>Black out</th>
                                    <th>Block from selling</th>
                                    <th>Online/Offline</th>
                                    <th>Delete Prosumer</th>
                                </tr>
                                </tfoot>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Green Power 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
</div>

<%- include('../logout_prompt'); -%>
<!-- End of Content Wrapper -->

<%- include('prosumer_list_scripts'); -%>
